[submodule "vendored/tpde"]
	path = vendored/tpde
	url = https://github.com/lingo-db/tpde.git
	branch = master

[submodule "vendored/cpython-wasm"]
	path = vendored/cpython-wasm
	url = git@github.com:lingo-db/cpython-wasm.git
